<p class="text-center mb-0"> Number of comments : <span id="comments-<%= tweet.id %>-count"><%= tweet.comments.size %> </span> </p>    
     <%= form_tag comments_path(commentable_type: 'tweet', commentable_id: tweet.id), method: :post, remote: true do  %>
        <div class="form-group">
            <%= text_area_tag :comment_text, nil, placeholder: 'Your comment', class: 'form-control' %>
        </div>
    <%= submit_tag 'Respond', class: 'btn btn-sm btn-primary' %>
<%end%>