<div class="card tweet-<%= tweet.id %> ">
    <div class="card-header">
        <%= gravatar_tag tweet.user.email, size: 25, :html => {:class => 'img-fluid' } %><%= tweet.user.username %> Tweet <%= content_tag :time, '', class: 'timeago', datetime: tweet.created_at.localtime %>
        <% if user_signed_in? && current_user == tweet.user %>
            <%= link_to('Edit', edit_tweet_path(tweet), class: 'btn brn-sm btn-primary' ) %>|<%= link_to('delete', tweet_path(tweet), method: :delete, class:'btn btn-sm btn-danger' ) %>
        <%end%>
    </div>
    <div class="card-body" style="padding-bottom: 0px" >
            <%= raw(tweet.content_html) %>
    </div>
</div>

<br>